<div class="navbar-wagon">
 <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="https://res.cloudinary.com/cocktailsdelivereddotcom/image/upload/v1539944324/WISH_IT_LOGO_cropped.jpg" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">



    <a href="https://www.instagram.com/wishitevents/" class="navbar-wagon-brand">
    <img src="https://res.cloudinary.com/cocktailsdelivereddotcom/image/upload/c_scale,h_68/v1539973665/if_instagram_2308118.png" alt="logo">
  </a>

    <a href="https://www.facebook.com/Wish-It-Events-452570515173655/" class="navbar-wagon-brand">
    <img src="https://res.cloudinary.com/cocktailsdelivereddotcom/image/upload/c_scale,h_68/v1540063971/if_facebook_2308066.png" alt="logo">
  </a>

     <a href="https://twitter.com/WishItEvents1" class="navbar-wagon-brand">
    <img src="https://res.cloudinary.com/cocktailsdelivereddotcom/image/upload/v1540464065/if_twitter_2308045.png" alt="logo">
  </a>

        <!-- <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">contact us</a></li>
        </ul> -->
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="ttps://www.facebook.com/Wish-It-Events-452570515173655/">Facebook</a></li>
        <li><a href="https://www.instagram.com/wishitevents/">Instagram</a></li>
      </ul>
    </div>
  </div>
</div>

