

<div id="contact">
    <%= render 'shared_navbar' %>
  </div>

</div>

<div class="banner" style="background-image:  url('https://res.cloudinary.com/cocktailsdelivereddotcom/image/upload/v1539892090/red-sparkly-wallpaper-swirl_1.jpg');">

  <div class="banner-content">
    <h1>Wish it Events  </h1>
    <p>Don't just dream it....... Wish it </p>
  </div>
      <br>  </br>
    <div class="scroll-indicator fa fa-chevron-down"></div>


  </div>
</div>

<div id="contact">
    <%= render 'contact_form' %>
  </div>
</div>


</div>
